<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LocalNotificationDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>748E72DA1DD1752B006A90C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>748E72EE1DD1752C006A90C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>748E72F91DD1752C006A90C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
